* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f8;
    background-image: url("background1.png");
    background-repeat: no-repeat;
    background-size: 130%; /* Adjust to cover the card area without tiling */
    background-position: center; /* Center the image on the card */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
}

.card {
    width: 270px;
    height: 350px;
    perspective: 1000px;
}

.card .qrcode {
    width: 125px;  /* Adjust size as needed */
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front1, .card-front2, .card-front3, .card-front4, .card-front5, .card-front6, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card-front1 {
    background: linear-gradient(135deg, #4632ff, #00aaff);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.card-front2 {
    background: linear-gradient(135deg, #ff6e00, #ff0000);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.card-front3 {
    background: linear-gradient(135deg, #00aaff, #00c8aa);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.card-front4 {
    background: linear-gradient(135deg, #00c8af, #78d700);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.card-front5 {
    background: linear-gradient(135deg, #3cd700, #ffd700);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #fff;
    padding: 15px;
    color: #333;
}

.question {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.vote-option {
    padding: 8px;
    font-size: 0.9em;
    color: #4c97d6;
    background-color: #f0f0f8;
    border: 2px solid #4c97d6;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.vote-option:hover {
    background-color: #4c97d6;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .card {
        width: 100%;
        max-width: 300px;
    }
}
